{% extends 'layout.html' %}

{% load static %}

{% block body %}
  
  
  <main class="main">

<!-- Hero Section -->
<section id="hero" class="hero section">
  <div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
      {% for item in carousel_items %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <img src="{{ item.image.url }}" alt="{{ item.title }}" width="100">
          <div class="container">
              <h2><b>{{ item.title }}</b></h2>
              <p>{{ item.description }}</p>
              {% if item.link %}
              <a href="{{ item.link }}" class="btn-get-started">Read More</a>
              {% endif %}
          </div>
      </div><!-- End Carousel Item -->
      {% endfor %}

      <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

      <ol class="carousel-indicators"></ol>
  </div>
</section><!-- /Hero Section -->
    <!-- Featured Services Section -->
    <section id="featured-services" class="featured-services section">
      <div class="container">

        <div class="row gy-4">
    
          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item position-relative">
              <div class="icon"><i class="fas fa-cut icon"></i></div>
              <h4><a href="" class="stretched-link">Hair Services</a></h4>
              <p>We style your hair in any desired style you may like.</p>
            </div>
          </div><!-- End Service Item -->
    
          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon"><i class="fas fa-spa icon"></i></div>
              <h4><a href="" class="stretched-link">Spa services</a></h4>
              <p>Our beauticians who are specialiased in the spa sector are always ready to serve you with whtaever service you may like.</p>
            </div>
          </div><!-- End Service Item -->
    
          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon"><i class="fas fa-paint-brush"></i></div>
              <h4><a href="" class="stretched-link">Nail services</a></h4>
              <p>You can never go wrong with entrusting us with doing incredible art on your nails. </p>
            </div>
          </div><!-- End Service Item -->
    
          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon"><i class="fas fa-paint-brush"></i></div>
              <h4><a href="" class="stretched-link">Makeup services</a></h4>
              <p>We also apply light and also full makeup as per our clients's liking.</p>
            </div>
          </div><!-- End Service Item -->
    
          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative">
              <div class="icon"><i class="fas fa-spa"></i></div>
              <h4><a href="" class="stretched-link">Massage therapy</a></h4>
              <p>Visit us now to also get a full massage for your body to relax and relieve stress.</p>
            </div>
          </div><!-- End Service Item -->
    
          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon"><i class="fas fa-spa"></i></div>
              <h4><a href="" class="stretched-link">Body treatment</a></h4>
              <p>Body treatments include scrubs, wraps, and other services to rejuvenate and detoxify the skin.</p>
            </div>
          </div><!-- End Service Item -->
    
          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="700">
            <div class="service-item position-relative">
              <div class="icon"><i class="fas fa-cut"></i></div>
              <h4><a href="" class="stretched-link">Eyelashes and eyebrows services</a></h4>
              <p>This department provides services to enhance your eyelashes and eyebrows, such as extensions, lifts, and tints.
          </div><!-- End Service Item -->
    
          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="800">
            <div class="service-item position-relative">
              <div class="icon"><i class="fas fa-cut"></i></div>
              <h4><a href="" class="stretched-link">Waxing and hair removal</a></h4>
              <p>We also apply light and also full makeup as per our clients's liking.</p>
            </div>
          </div><!-- End Service Item -->
    
        </div>
    
      </div>
      <p> <b>Scroll down to get detailed information about the services offered in The Beauties' Parlor!!!!</b></p>
</section>

    <!-- About Section -->
    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>About Us<br></h2>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">
          <div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="100">
            <img src="{% static 'assets/img/greg-trowman-jsuWg7IXx1k-unsplash.jpg' %}" class="img-fluid" alt="">          </div>
          <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="200">
            <p class="fst-italic">
              <h1>Introduction</h1>
              Welcome to The Beauties' Parlor! At The Beauties' Parlor, our top priority is customer satisfaction and building our clients' confidence in their beauty. We are dedicated to providing splendid services with a friendly and professional approach. Our team of skilled beauticians is ready to serve you with a smile, ensuring you leave our parlor feeling refreshed and beautiful. Book an appointment with us today and experience the exceptional care and attention that sets us apart.
            </p>
            <h1>Our values</h1>
            <ul>
              <li><i class="bi bi-check2-all"></i> <span>Customer satisfaction</span></li>
              <li><i class="bi bi-check2-all"></i> <span>Professionalism</span></li>
              <li><i class="bi bi-check2-all"></i> <span>Quality service</span></li>
              <li><i class="bi bi-check2-all"></i> <span>Friendly approach</span></li>
            </ul>
            <ul>
            <h1>Our Team</h1>
            <li><i class="bi bi-check2-all"></i> <span>Experienced Beauticians</span></li>
            <li><i class="bi bi-check2-all"></i> <span>Certified Professionals</span></li>
            <li><i class="bi bi-check2-all"></i> <span>Friendly and Approachable Staff</span></li>
            </ul>
            <ul>
              <h1>Contact information</h1>
              <li>><i class="bi bi-check2-all"></i> <span>Phone: +254 707 280 732</span></li>
              <li>><i class="bi bi-check2-all"></i> <span></span>Email: rawannjogu@gmail.com</li>
              <li>><i class="bi bi-check2-all"></i> <span></span>Location: Nairobi, Kenya</li>
            </ul>
            <p>
              The Beauties' Parlor is dedicated to enhancing your beauty and confidence through exceptional services and a friendly, professional approach. Our skilled team is committed to providing top-notch care, ensuring you leave our parlor feeling refreshed and beautiful. Join us and experience the difference at The Beauties' Parlor.
            </p>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Stats Section -->
    <section id="stats" class="stats section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i class="fas fa-cut"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="25" data-purecounter-duration="1" class="purecounter"></span>
                <p>Beauticians</p>
              </div>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i class="fas fa-concierge-bell"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
                <p>Services</p>
              </div>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i class="fas fa-award flex-shrink-0"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="1" class="purecounter"></span>
                <p>Awards</p>
              </div>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i class="fas fa-award flex-shrink-0"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="1" class="purecounter"></span>
                <p>Visits</p>
              </div>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i class="fas fa-award flex-shrink-0"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="1" class="purecounter"></span>
                <p>Contacts</p>
              </div>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i class="fas fa-award flex-shrink-0"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="1" class="purecounter"></span>
                <p>Testimonials</p>
              </div>
            </div>
          </div><!-- End Stats Item -->

        </div>

      </div>

    </section><!-- /Stats Section -->

    <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Services</h2>
        <p> These are the services offered at The Beauties Parlor</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="fas fa-cut"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Hair Services</h3>
              </a>
                <ol>
                  <li>Hair plaiting with styles (Ghanians, box braids, knotless, soft locs etc)</li>
                  <li>Haircuts and trims</li>
                  <li>Hair coloring and highlights</li>
                  <li>Hair styling and blowouts</li>
                  <li>Hair treatments (e.g., deep conditioning, keratin treatments)</li>                 
                </ol>
                <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-spa"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>skin care</h3>
              </a>
              <ol>
                <li>Facials and skin treatments</li>
                <li>Acne treatments</li>
                <li>Chemical peels</li>
                <li>Microdermabrasion</li>
              </ol>
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-hand-sparkles"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Nail Services</h3>
              </a>
              <ol>
                <li>Manicures and pedicures</li>
                <li>Nail art and design</li>
                <li>Gel and acrylic nails</li>
                <li>Nail treatments (e.g., paraffin wax)</li>
              </ol>
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-magic"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Makeup Services</h3>
              </a>
              <ol>
                <li>Makeup application for special occasions</li>
                <li>Bridal makeup</li>
                <li>Makeup lessons and consultations</li>
              </ol>
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-waxing"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Waxing and Hair Removal</h3>
              </a>
              <ol>
                <li>oEyebrow shaping</li>
                <li>Body waxing (e.g., legs, arms, bikini)</li>
                <li>Facial hair removal</li>
              </ol>              
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-spa"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Massage Therapy</h3>
              </a>
              <ol>
                <li>Relaxation massages</li>
                <li>Deep tissue massages</li>
                <li>Hot stone massages</li>
              </ol>              
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-spa"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Body Treatments</h3>
              </a>
              <ol>
                <li>Body scrubs and exfoliation</li>
                <li>Body wraps</li>
                <li>Cellulite treatments</li>
              </ol>              
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="800">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fas fa-eye"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Eye lashes and eye brows services</h3>
              </a>
              <ol>
                <li>Eyelash extensions</li>
                <li>Eyelash lifts and tints</li>
                <li>Eyebrow tinting and shaping</li>
              </ol>              
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->


        </div>

      </div>

    </section><!-- /Services Section -->
  
    
     <!-- Appointment Section -->
     <section id="appointment" class="appointment section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
          <h2>MAKE AN APPOINTMENT</h2>
          <p>Book with us now to get our services.</p>
      </div><!-- End Section Title -->
  
      <div class="container" data-aos="fade-up" data-aos-delay="100">
  
          <form action="{% url 'initiate_payment' %}" method="post" role="form" class="php-email-form">
              {% csrf_token %}
              <div class="row">
                  <div class="col-md-4 form-group">
                      <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required="">
                  </div>
                  <div class="col-md-4 form-group mt-3 mt-md-0">
                      <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required="">
                  </div>
                  <div class="col-md-4 form-group mt-3 mt-md-0">
                      <input type="tel" class="form-control" name="phone" id="phone" placeholder="Your Phone" required="">
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-3 form-group mt-3">
                      <input type="datetime-local" name="date" class="form-control datepicker" id="date" required="">
                  </div>
                  
                  <div class="col-md-3 form-group mt-3">
                      <select name="department" id="department" class="form-select" required="">
                          <option value="">Select Service</option>
                          <option value="Service 1">Hair service</option>
                          <option value="Service 2">Spa service</option>
                          <option value="Service 3">Nail service</option>
                          <option value="Service 4">Makeup service</option>
                          <option value="Service 5">Waxing and hair removal</option>
                          <option value="Service 6">Massage therapy</option>
                          <option value="Service 7">Body treatment</option>
                          <option value="Service 8">Eyelashes and eyebrows service</option>
                      </select>
                  </div>
                  <div class="col-md-3 form-group mt-3">
                      <select name="doctor" id="doctor" class="form-select" required="">
                          <option value="">Select Beautician</option>
                          <option value="Beautician 1">Rita</option>
                          <option value="Beautician 2">Winnie</option>
                          <option value="Beautician 3">Kibuti</option>
                          <option value="Beautician 4">Lucy</option>
                          <option value="Beautician 5">Lewis</option>
                          <option value="Beautician 6">Vyonna</option>
                          <option value="Beautician 7">Larry</option>
                          <option value="Beautician 8">Virginia</option>
                      </select>
                  </div>
              </div>
  
              <div class="form-group mt-3">
                  <textarea class="form-control" name="message" rows="5" placeholder="Message (Optional)"></textarea>
              </div>
              <div class="mt-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your appointment request has been sent successfully. Thank you!</div>
                  <p>To secure your appointment, a deposit of Ksh 200 is required, and if you cancel your appointment it will be refunded.</p>
                  <div class="text-center">
                      <button type="submit">Pay via M-Pesa</button>
                  </div>
              </div>
          </form>
  
      </div>
  
  </section><!-- /Appointment Section -->
    

    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
          <h2>Testimonials</h2>
      </div><!-- End Section Title -->

      <div class="container testimonial-form-container" data-aos="fade-up" data-aos-delay="100">
        <form action="{% url 'submit_testimonial' %}" method="POST" class="testimonial-form">
            {% csrf_token %}
            <label for="name">Your Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="testimonial">Your Testimonial:</label>
            <textarea id="testimonial" name="testimonial" required></textarea>

            <label>Your Rating:</label>
            <div class="rating">
                <input type="radio" id="star1" name="rating" value="5" required>
                <label for="star1" class="star">★</label>
                <input type="radio" id="star2" name="rating" value="4">
                <label for="star2" class="star">★</label>
                <input type="radio" id="star3" name="rating" value="3">
                <label for="star3" class="star">★</label>
                <input type="radio" id="star4" name="rating" value="2">
                <label for="star4" class="star">★</label>
                <input type="radio" id="star5" name="rating" value="1">
                <label for="star5" class="star">★</label>
            </div>

            <button type="submit">Submit Testimonial</button>
        </form>
     </div>

  
      <div class="container" data-aos="fade-up" data-aos-delay="100">
  
          <div class="swiper init-swiper" data-speed="600" data-delay="5000" 
               data-breakpoints="{ &quot;320&quot;: { &quot;slidesPerView&quot;: 1, &quot;spaceBetween&quot;: 40 }, &quot;1200&quot;: { &quot;slidesPerView&quot;: 3, &quot;spaceBetween&quot;: 40 } }">
              <script type="application/json" class="swiper-config">
                  {
                      "loop": true,
                      "speed": 600,
                      "autoplay": {
                          "delay": 5000
                      },
                      "slidesPerView": "auto",
                      "pagination": {
                          "el": ".swiper-pagination",
                          "type": "bullets",
                          "clickable": true
                      },
                      "breakpoints": {
                          "320": {
                              "slidesPerView": 1,
                              "spaceBetween": 40
                          },
                          "1200": {
                              "slidesPerView": 3,
                              "spaceBetween": 20
                          }
                      }
                  } 
              </script>
              <div class="swiper-wrapper">
  
                  <div class="swiper-slide">
                      <div class="testimonial-item">
                          <p>
                              <i class="bi bi-quote quote-icon-left"></i>
                              <span>I had an amazing experience at The Beauties' Parlor! The staff was incredibly welcoming and attentive. I got a facial that left my skin glowing! I highly recommend their services to anyone looking for a little pampering.</span>
                              <i class="bi bi-quote quote-icon-right"></i>
                          </p>
                          <h3>Anaya Wangari</h3>
                          <div class="rating" data-testimonial-id="1">
                              <span class="star" data-value="1">★</span>
                              <span class="star" data-value="2">★</span>
                              <span class="star" data-value="3">★</span>
                              <span class="star" data-value="4">★</span>
                              <span class="star" data-value="5">★</span>
                          </div>
                      </div>
                  </div><!-- End testimonial item -->
  
                  <div class="swiper-slide">
                      <div class="testimonial-item">
                          <p>
                              <i class="bi bi-quote quote-icon-left"></i>
                              <span>The best haircut I've ever had! Lucy listened to what I wanted and executed it perfectly. The atmosphere is so relaxing, and I left feeling like a new person. Can't wait to come back for my next appointment!</span>
                              <i class="bi bi-quote quote-icon-right"></i>
                          </p>
                          <h3>Ben Maina</h3>
                          <div class="rating" data-testimonial-id="2">
                              <span class="star" data-value="1">★</span>
                              <span class="star" data-value="2">★</span>
                              <span class="star" data-value="3">★</span>
                              <span class="star" data-value="4">★</span>
                              <span class="star" data-value="5">★</span>
                          </div>
                      </div>
                  </div><!-- End testimonial item -->
  
                  <div class="swiper-slide">
                    <div class="testimonial-item">
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        <span>I brought my wife in for a surprise spa day, and she absolutely loved it! The couple's massage was a hit, and the staff made everything so special. Thank you for making our day memorable!</span>
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                      <h3>Larry Mikisi</h3>
                      <div class="rating" data-testimonial-id="2">
                        <span class="star" data-value="1">★</span>
                        <span class="star" data-value="2">★</span>
                        <span class="star" data-value="3">★</span>
                        <span class="star" data-value="4">★</span>
                        <span class="star" data-value="5">★</span>
                    </div>
                    </div>
                  </div><!-- End testimonial item -->
                
                  <div class="swiper-slide">
                    <div class="testimonial-item">
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        <span>I have been going to The Beauties' Parlor for my nails for over a year now, and I’m never disappointed. The nail art is stunning, and the quality is unmatched. Highly recommend for anyone who loves beautiful nails!</span>
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                      <h3>Faith Ann</h3>
                      <div class="rating" data-testimonial-id="2">
                        <span class="star" data-value="1">★</span>
                        <span class="star" data-value="2">★</span>
                        <span class="star" data-value="3">★</span>
                        <span class="star" data-value="4">★</span>
                        <span class="star" data-value="5">★</span>
                    </div>
                    </div>
                  </div><!-- End testimonial item -->
  
              </div>
              <div class="swiper-pagination"></div>
          </div>
  
      </div>
  
  </section><!-- /Testimonials Section -->
     
<!-- Beauticians Section -->
    <section id="Beauticians" class="beauticians section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Beauticians</h2>
        <p>Get familiar with the friendly faces of our Beauticians</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <div class="member-img">
                <img src="{% static 'assets/img/Beauticians/wanjiru.jpg' %}" style="width: 300px; height: 300px;" class="img-fluid" alt="">              </div>
              <div class="member-info">
                <h4>Wanjiru Njogu</h4>
                <span>Head of Beauticians</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="team-member">
              <div class="member-img">
                <img src="{% static 'assets/img/Beauticians/WhatsApp Image 2024-11-27 at 22.30.15_b3517b58.jpg' %}" style="width: 300px; height: 300px;" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Liza Waithera</h4>
                <span>Receptionists</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="team-member">
              <div class="member-img">
                <img src="{% static 'assets/img/Beauticians/rita.jpg' %}" style="width: 300px; height: 300px;" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Rita Muthoni</h4>
                <span>Hair stylist 1</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="team-member">
              <div class="member-img">
                <img src="{% static 'assets/img/Beauticians/winnie.jpg' %}" style="width: 300px; height: 300px;" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>winnie </h4>
                <span>Hair stylist 2</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="500">
            <div class="team-member">
              <div class="member-img">
                <img src="{% static 'assets/img/Beauticians/kibuti.jpg' %}" style="width: 300px; height: 300px;" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Esther Kibuti</h4>
                <span>Hair stylist 3</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="600">
            <div class="team-member">
              <div class="member-img">
                <img src="{% static 'assets/img/Beauticians/lucy.jpg' %}" style="width: 300px; height: 300px;" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Lucy Ng'ethe</h4>
                <span>Nail Artist 1</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="700">
            <div class="team-member">
              <div class="member-img">
                <img src="{% static 'assets/img/Beauticians/lewi.jpg' %}" style="width: 300px; height: 300px;" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Lewis Maina</h4>
                <span>Nail Artist 2</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="800">
            <div class="team-member">
              <div class="member-img">
                <img src="{% static 'assets/img/Beauticians/vyonna.jpg' %}" style="width: 300px; height: 300px;" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Vyonna</h4>
                <span>Waxing Technician</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="900">
            <div class="team-member">
              <div class="member-img">
                <img src="{% static 'assets/img/Beauticians/larry.jpg' %}" style="width: 300px; height: 300px;" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Larry Haron</h4>
                <span>Masseur</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="1000">
            <div class="team-member">
              <div class="member-img">
                <img src="{% static 'assets/img/Beauticians/virginia.jpg' %}" style="width: 300px; height: 300px;" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Virginia</h4>
                <span>Masseue</span>
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>

    </section><!-- /Beauticians Section -->

    <!-- Gallery Section -->
    <section id="gallery" class="gallery section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Gallery</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "centeredSlides": true,
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 1,
                  "spaceBetween": 0
                },
                "768": {
                  "slidesPerView": 3,
                  "spaceBetween": 20
                },
                "1200": {
                  "slidesPerView": 5,
                  "spaceBetween": 20
                }
              }
            }
          </script>
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'assets/img/gallery/style 1.jpg' %}"><img src="{% static 'assets/img/gallery/style 1.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'assets/img/gallery/1.jpg' %}"><img src="{% static 'assets/img/gallery/1.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'assets/img/gallery/WhatsApp Image 2024-12-04 at 21.12.49_3555d3dd.jpg' %}"><img src="{% static 'assets/img/gallery/WhatsApp Image 2024-12-04 at 21.12.49_3555d3dd.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'assets/img/gallery/WhatsApp Image 2024-12-04 at 21.12.49_294807ac.jpg' %}"><img src="{% static 'assets/img/gallery/WhatsApp Image 2024-12-04 at 21.12.49_294807ac.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'assets/img/gallery/2.jpg' %}"><img src="{% static 'assets/img/gallery/2.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'assets/img/gallery/WhatsApp Image 2024-12-04 at 21.12.49_d378ef4a.jpg' %}"><img src="{% static 'assets/img/gallery/WhatsApp Image 2024-12-04 at 21.12.49_d378ef4a.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'assets/img/gallery/WhatsApp Image 2024-12-04 at 21.12.50_5ae82f74.jpg' %}"><img src="{% static 'assets/img/gallery/WhatsApp Image 2024-12-04 at 21.12.50_5ae82f74.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'assets/img/gallery/3.jpg' %}"><img src="{% static 'assets/img/gallery/3.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'assets/img/gallery/WhatsApp Image 2024-12-04 at 21.12.50_39d5de03.jpg' %}"><img src="{% static 'assets/img/gallery/WhatsApp Image 2024-12-04 at 21.12.50_39d5de03.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'assets/img/gallery/4.jpg' %}"><img src="{% static 'assets/img/gallery/4.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'assets/img/gallery/WhatsApp Image 2024-12-04 at 21.12.50_53b5917a.jpg' %}"><img src="{% static 'assets/img/gallery/WhatsApp Image 2024-12-04 at 21.12.50_53b5917a.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'assets/img/gallery/5.jpg' %}"><img src="{% static 'assets/img/gallery/5.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'assets/img/gallery/WhatsApp Image 2024-12-04 at 21.12.51_0aefe676.jpg' %}"><img src="{% static 'assets/img/gallery/WhatsApp Image 2024-12-04 at 21.12.51_0aefe676.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'assets/img/gallery/6.jpg' %}"><img src="{% static 'assets/img/gallery/6.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'assets/img/gallery/WhatsApp Image 2024-12-04 at 21.12.51_fb7856ed.jpg' %}"><img src="{% static 'assets/img/gallery/WhatsApp Image 2024-12-04 at 21.12.51_fb7856ed.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'assets/img/gallery/7.jpg' %}"><img src="{% static 'assets/img/gallery/7.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'assets/img/gallery/WhatsApp Image 2024-12-04 at 21.12.51_fb752d1e.jpg' %}"><img src="{% static 'assets/img/gallery/WhatsApp Image 2024-12-04 at 21.12.51_fb752d1e.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'assets/img/gallery/8.jpg' %}"><img src="{% static 'assets/img/gallery/8.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'assets/img/gallery/WhatsApp Image 2024-12-04 at 21.12.51_fb7856ed.jpg' %}"><img src="{% static 'assets/img/gallery/WhatsApp Image 2024-12-04 at 21.12.51_fb7856ed.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'assets/img/gallery/9.jpg' %}"><img src="{% static 'assets/img/gallery/9.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'assets/img/gallery/WhatsApp Image 2024-12-04 at 21.12.52_c79f4f54.jpg' %}"><img src="{% static 'assets/img/gallery/WhatsApp Image 2024-12-04 at 21.12.52_c79f4f54.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'assets/img/gallery/WhatsApp Image 2024-12-04 at 21.12.52_ccfb8a97.jpg' %}"><img src="{% static 'assets/img/gallery/WhatsApp Image 2024-12-04 at 21.12.52_ccfb8a97.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'assets/img/gallery/10.jpg' %}"><img src="{% static 'assets/img/gallery/10.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="{% static 'assets/img/gallery/WhatsApp Image 2024-12-04 at 21.12.52_d438e85d.jpg' %}"><img src="{% static 'assets/img/gallery/WhatsApp Image 2024-12-04 at 21.12.52_d438e85d.jpg' %}" class="img-fluid" alt=""></a></div>

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section><!-- /Gallery Section -->

    <!-- Faq Section -->
    <section id="faq" class="faq section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Frequently Asked Questions</h2>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row justify-content-center">

          <div class="col-lg-10" data-aos="fade-up" data-aos-delay="100">

            <div class="faq-container">

              <div class="faq-item">
                <h3>What are your operating hours?</h3>
                <div class="faq-content">
                  <p>We are open Monday to Friday from 8 AM to 10 PM, and on Saturday from 9 AM to 4 PM.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3>Where are you located?</h3>
                <div class="faq-content">
                  <p>Our salon is located in Nairobi, Kenya. You can find us at Gataka, Nairobi.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3>How can I contact you?</h3>
                <div class="faq-content">
                  <p>You can reach us by phone at +254 707 280 732 or by email at rawannjogu@gmail.com.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3>How do I book an appointment?</h3>
                <div class="faq-content">
                  <p>You can book an appointment online through our website or by calling us directly.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3>Do I need to pay a deposit to secure my appointment?</h3>
                <div class="faq-content">
                  <p>Yes, we require a small deposit to secure your appointment, which can be paid via M-Pesa.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3>What services do you offer?</h3>
                <div class="faq-content">
                  <p>We offer a wide range of services including hair services, skin care, nail services, makeup services, waxing and hair removal, massage therapy, body treatments, and eyelash and eyebrow services.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

            </div>

          </div><!-- End Faq Column-->

        </div>

      </div>

    </section><!-- /Faq Section -->

    <!-- Blog Section -->
    <section id="blog" class="blog section">
      <div class="container">
          <!-- Section Title -->
          <div class="section-title" data-aos="fade-up">
              <h2>Blog</h2>
              <p>Create Blog Post to leave tips that work for you</p>
          </div><!-- End Section Title -->
  
          <form method="post" action="{% url 'blog_create' %}" class="blog-form">
              {% csrf_token %}
              <label for="id_title">Title:</label>
              <input type="text" name="title" id="id_title" required>
  
              <label for="id_content">Content:</label>
              <textarea name="content" id="id_content" required></textarea>
  
              <button type="submit">Submit</button>
          </form>
  
          <!-- Display Existing Blog Posts -->
          <div class="blog-posts">
              {% for post in blog_posts %}
                  <div class="blog-post">
                      <h3>{{ post.title }}</h3>
                      <p>{{ post.content|truncatewords:30 }}</p>  <!-- Display a snippet of the content -->
                      <a href="{% url 'blog_detail' post.id %}">Read More</a>
                      <div class="post-actions">
                          <a href="{% url 'delete_blog' post.id %}" class="delete-btn">Delete</a>
                      </div>
                  </div>
              {% empty %}
                  <p>No blog posts available.</p>
              {% endfor %}
          </div>
      </div>
  </section><!-- /Blog Section -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>Eager to pay us a visit but don't know how to reach us? Here is the solution:</p>
      </div><!-- End Section Title -->

      <div class="mb-5" data-aos="fade-up" data-aos-delay="200">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.6751586520113!2d36.71720240954116!3d-1.3715930357174306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f05742e6e2e09%3A0x85659639df109caa!2sDestiny%20Best%20supermarket%20Gataka!5e0!3m2!1sen!2ske!4v1732597708461!5m2!1sen!2ske" width="1500" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>      </div><!-- End Google Maps -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">
          <div class="col-lg-6 ">
            <div class="row gy-4">

              <div class="col-lg-12">
                <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="200">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Address</h3>
                  <p>0707280732/0750713375</p>
                </div>
              </div><!-- End Info Item -->

              <div class="col-md-6">
                <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="300">
                  <i class="bi bi-telephone"></i>
                  <h3>Call Us Via:</h3>
                  <p>+254 707 280 732</p>
                </div>
              </div><!-- End Info Item -->

              <div class="col-md-6">
                <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="400">
                  <i class="bi bi-envelope"></i>
                  <h3>Email Us Through</h3>
                  <p>rawannjogu@gmail.com</p>
                </div>
              </div><!-- End Info Item -->

            </div>
          </div>

          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="500">
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Name" required="">
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email" placeholder="Email" required="">
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="4" placeholder="Message" required=""></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent successfully. Thank you!</div>

                  <button type="submit">Send Message</button>
                </div>

              </div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->

  </main>


{% endblock %}