{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>The beauties' Parlor</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'assets/styles.css' %}" rel="stylesheet">
        
</head>
<body>
  <header id="header" class="header sticky-top">
  <div class="branding d-flex align-items-center">

    <div class="col-lg-12">

    <div class="container position-relative d-flex align-items-center justify-content-end">
      <a href="index.html" class="logo d-flex align-items-center me-auto">

        <img src="{% static 'assets/img/b .png' %}" class="logo" width="200" height="100" alt="logo">
        
        </a>
    
        <div class="topbar d-flex align-items-center">
          <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="d-none d-md-flex align-items-center">
              <i class="bi bi-clock me-1"></i>Mon-Sat(8am-10pm)
            </div>

            <div class="d-flex align-items-center">
              <i class="bi bi-phone me-1"></i> 0707280732
            </div>
            <br>
            
        </div>
    

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero" class="active"style="font-size: 10px;">Home</a></li>
          <li><a href="{% url 'login' %}"style="font-size: 10px;">Login</a></li>
          <li><a href="{% url 'register' %}"style="font-size: 10px;">Register</a></li>           
          <li><a href="#about"style="font-size: 10px;">About</a></li>
          <li class="dropdown"><a href="#"style="font-size: 10px;"><span>Services</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="#">Services</a></li>
              <li class="dropdown"><a href="#"><span>Hair services</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="#">hair plaiting</a></li>
                  <li><a href="#">hair cut and trim</a></li>
                  <li><a href="#">hair coloring and highlighting</a></li>
                  <li><a href="#">hair styling and blowout</a></li>                            
                  <li><a href="#">hair treatments</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="#"><span>Skin care</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="#">facial and skin treatments</a></li>
                  <li><a href="#">acne treatment</a></li>
                  <li><a href="#">chemical peels</a></li>
                  <li><a href="#">microdermabrasion</a></li>                            
                </ul>
              </li>
              <li class="dropdown"><a href="#"><span>Nail services</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="#">manicures and pedicures</a></li>
                  <li><a href="#">nail arts & design</a></li>
                  <li><a href="#">gel & acrylics</a></li>
                  <li><a href="#">nail treatment</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="#"><span>Makeup services</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="#">makeup application for special events</a></li>
                  <li><a href="#">bridal makeup</a></li>
                  <li><a href="#">makeup lessons and consultations</a></li>                       
                </ul>
              </li>
              <li class="dropdown"><a href="#"><span>Waxing and hair removal services</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="#">eyebrows shaping</a></li>
                  <li><a href="#">body waxing</a></li>
                  <li><a href="#">facial hair removal</a></li>                       
                </ul>
              </li>
              <li class="dropdown"><a href="#"><span>Massage therapy services</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="#">reaxation massage</a></li>
                  <li><a href="#">deep tissue massage</a></li>
                  <li><a href="#">hot stone massage</a></li>                       
                </ul>
              </li>
              <li class="dropdown"><a href="#"><span>Body treatment services</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="#">body scrubs and exfoliation</a></li>
                  <li><a href="#">body wraps</a></li>
                  <li><a href="#">celluliate treatments</a></li>                       
                </ul>
              </li>
              <li class="dropdown"><a href="#"><span>Eyebrows and eyelashes services</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="#">eyelashes extension</a></li>
                  <li><a href="#">eyelashes lifts and tinting</a></li>
                  <li><a href="#">eyebrows tinting and shaping</a></li>                       
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="#Beauticians">Beauticians</a></li>                
          <li><a href="#contact">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="cta-btn" href="index.html#appointment"style="font-size: 10px;"><b>APPOINTMENT</b></a>

    </div>
  </div>

  </div>

</header> 
 
{% block body%}

{% endblock%} 

<footer id="footer" class="footer light-background">

  <div class="container footer-top">
    <div class="row gy-4">
      <div class="col-lg-4 col-md-6 footer-about">
        <a href="index.html" class="logo d-flex align-items-center">
          <span class="sitename">The Beauties' Parlor</span>
        </a>
        <div class="footer-contact pt-3">
          <p>0ataka 0707280732</p>
          <p>Nairobi, Kenya</p>
          <p class="mt-3"><strong>Phone:</strong> <span>+254 707 280 732</span></p>
          <p><strong>Email:</strong> <span>rawannjogu@gmail.com</span></p>
        </div>
        <div class="social-links d-flex mt-4">
          <a href="https://www.tiktok.com/@wanjiru_njogu1" target="_blank" rel="noopener noreferrer"><i class="bi bi-tiktok"></i></a>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Useful Links</h4>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Terms of service</a></li>
          <li><a href="#">Privacy policy</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Our Services</h4>
        <ul>
          <li><a href="#">Hair services</a></li>
          <li><a href="#">Nails services</a></li>
          <li><a href="#">Massage therapy</a></li>
          <li><a href="#">Body treatment</a></li>
          <li><a href="#">Makeup services</a></li>
          <li><a href="#">Eyebrows and eyelashes services</a></li>
          <li><a href="#">Spa services</a></li>
          <li><a href="#">Skin care services</a></li>
        </ul>
      </div>

    </div>
  </div>

  <div class="container copyright text-center mt-4">
    <p>© <span>Copyright</span> <strong class="px-1 sitename">The Beauties' Parlor</strong> <span>All Rights Reserved</span></p>
    <div class="credits">
      Designed by <a href="#">Wanjiru Njogu</a>
    </div>
  </div>

</footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>
</html>

